@{
    ViewData["Title"] = "Product";
}
@model List<ProductModels>

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Add" class="btn btn-info">Create new product</a>
    </div>
</div>
<h4>Count: @Model.Count</h4>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Product Image</td>
            <td>Product Name</td>
            <td>Product Quantity</td>
            <td>Descriptions</td>
            <td>Product Price</td>
            <td>CategoryId</td>
            <td>Create on</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>
                    <img src="~/images/@item.ProductImage" class="img-thumbnail" width="100" height="100" />
                </td>
                <td>@item.ProductName</td>
                <td>@item.ProductQuantity</td>
                <td>@item.Descriptions</td>
                <td>@item.ProductPrice.ToString("0.00")</td>
                <td>@item.CategoryId</td>
                <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a type="button" class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId"><i class="fas fa-edit"></i></a>
                    <a type="button" class="btn btn-success" asp-controller="Detail" asp-action="Index" asp-route-id="@item.ProductId" asp-route-name="@item.ProductName"><i class="far fa-list-alt"></i></a>
                    <a type="button" class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>