@model IEnumerable<Lab2.Models.Domain.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-6">
        <h2 class="text-info">User</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Register" asp-controller="Account" class="btn btn-info">Add User</a>
    </div>
</div>
<table class="table table-striped border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a type="button" class="btn btn-primary" asp-controller="AdminUsers" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                    <a type="button" class="btn btn-danger" asp-controller="AdminUsers" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
