
@{
    ViewData["Title"] = "Iphone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Lab2.Views.Product>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <div class="card h-100">
                    <img class="card-img-top"
                         src="~/images/@item.ProductImage" height="600" width="600" alt="">
                    <div class="card-body">
                        <h4 class="card-title"> @item.ProductName</h4>
                        <p class="card-text">@item.Descriptions</p>
                        <p class="card-text">@item.ProductPrice.ToString("C")</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Detail" asp-action="Index" asp-route-id="@item.ProductId" asp-route-name="@item.ProductName" class="btn btn-primary">Details</a>
                        <a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.ProductId" class="btn btn-info">Buy now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>








